<fieldset class="filters">
  <legend class="filter-title">
    <h2>filters</h2>
  </legend>
  <div class="limit">
    <%= form_tag '/disasters?limit=', method: :get do %>
      <%= label_tag :limit %>
      <%= number_field_tag :limit, 10, max: 50 %>
      <%= submit_tag 'Update map', class: 'btn btn-primary' %>
    <% end %>
  </div>
</fieldset>
