<ul class="number_affected">
  <li>Men: <%= @disaster.number_affected.men %></li>
  <li>Women: <%= @disaster.number_affected.women %></li>
  <li>Children: <%= @disaster.number_affected.children %></li>
</ul>
