<h1>Disaster Map</h1>
<div id="map"></div>
<script>
  function initMap() {
    var center = {lat: 0.000, lng: 0.000};
    var uluru = {lat: -25.344, lng: 131.036};
    var denver = {lat: 39.739, lng: -104.990};
    var map = new google.maps.Map(document.getElementById("map"), {
      zoom: 1,
      center: uluru
    });
    var marker = new google.maps.Marker({position: uluru, map: map});
    var marker_two = new google.maps.Marker({position: denver, map: map});
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKL9u8V42Ct3XpVEdH_HlfPGhQHth_tfg&callback=initMap" async defer>
</script>
