---
http_interactions:
- request:
    method: get
    uri: https://api.reliefweb.int/v1/disasters/8510?appname=givealittle&fields%5Bexclude%5D%5B0%5D=country&fields%5Binclude%5D%5B0%5D=primary_country&fields%5Binclude%5D%5B1%5D=primary_type&fields%5Binclude%5D%5B2%5D=description-html&preset=latest&primary_type&profile=list
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Thu, 12 Apr 2018 00:14:54 GMT
      X-Content-Options:
      - nosniff
      X-Varnish-Ttl:
      - '300.000'
      X-Varnish-Server:
      - rwint-api-varnish
    body:
      encoding: ASCII-8BIT
      string: '{"href":"https:\/\/api.reliefweb.int\/v1\/disasters\/8510?appname=givealittle&fields%5Bexclude%5D%5B%5D=country&fields%5Binclude%5D%5B%5D=primary_country&fields%5Binclude%5D%5B%5D=primary_type&fields%5Binclude%5D%5B%5D=description-html&preset=latest&primary_type&profile=list","time":3,"links":{"self":{"href":"https:\/\/api.reliefweb.int\/v1\/disasters\/8510"},"collection":{"href":"https:\/\/api.reliefweb.int\/v1\/disasters"}},"totalCount":1,"count":1,"data":[{"fields":{"date":{"created":"2011-06-12T00:00:00+00:00"},"primary_type":{"code":"FL","name":"Flood","id":4611},"primary_country":{"href":"https:\/\/api.reliefweb.int\/v1\/countries\/227","name":"Tajikistan","location":{"lon":71.04,"lat":38.84},"id":227,"iso3":"tjk"},"description-html":"<p>As
        a result of heavy rains on 11-12 June 2011, floods hit Sughd province in the
        northern part of Tajikistan, affecting 7 villages in 3 districts of the province
        (IFRC, 16 Jun 2011).<\/p>\n\n<h3>Useful Links<\/h3>\n\n<ul>\n<li><a href=\"http:\/\/untj.org\/country_context\/coordination_mechanisms\/disaster_management\/reports\/june_2011\">UN
        in Tajikistan REACT June 2011 disasters<\/a><\/li>\n<\/ul>\n","name":"Tajikistan:
        Floods and Mudslides - Jun 2011","glide":"FF-2011-000066-TJK","type":[{"name":"Flood"},{"name":"Mud
        Slide"}],"url":"https:\/\/reliefweb.int\/taxonomy\/term\/8510","status":"past"},"id":"8510"}]}'
  recorded_at: Sat, 09 Jun 2018 19:09:31 GMT
recorded_with: VCR 4.0.0
