---
http_interactions:
- request:
    method: get
    uri: https://api.reliefweb.int/v1/disasters?appname=givealittle&fields%5Bexclude%5D%5B0%5D=country&fields%5Binclude%5D%5B0%5D=primary_country&fields%5Binclude%5D%5B1%5D=primary_type&fields%5Binclude%5D%5B2%5D=description-html&preset=latest&profile=list
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Content-Options:
      - nosniff
      X-Varnish-Ttl:
      - '2.000'
      X-Varnish-Server:
      - rwint-api-varnish
    body:
      encoding: ASCII-8BIT
      string: '{"href":"https:\/\/api.reliefweb.int\/v1\/disasters?appname=givealittle&fields%5Bexclude%5D%5B%5D=country&fields%5Binclude%5D%5B%5D=primary_country&fields%5Binclude%5D%5B%5D=primary_type&fields%5Binclude%5D%5B%5D=description-html&preset=latest&profile=list","time":3,"links":{"self":{"href":"https:\/\/api.reliefweb.int\/v1\/disasters?offset=0&limit=10&preset=latest"},"next":{"href":"https:\/\/api.reliefweb.int\/v1\/disasters?offset=10&limit=10&preset=latest"}},"totalCount":2963,"count":10,"data":[{"id":"45934","score":1,"href":"https:\/\/api.reliefweb.int\/v1\/disasters\/45934","fields":{"date":{"created":"2018-06-03T00:00:00+00:00"},"primary_type":{"code":"VO","name":"Volcano","id":4615},"primary_country":{"href":"https:\/\/api.reliefweb.int\/v1\/countries\/109","name":"Guatemala","location":{"lon":-90.39,"lat":15.61},"id":109,"iso3":"gtm"},"description-html":"<p>On
        3 June, the Fuego volcano erupted for the second time in 2018, launching columns
        of ash and pyroclastic flow some 15,000m above sea level and spreading west
        and southwest, according to a special bulletin issued by the National Institute
        of Seismology, Volcanology, Meteorology and Hydrology (INSIVUMEH). Several
        areas reported the fall of ash and small rocks, including Chimaltenango, Sacatep\u00e9quez,
        Escuintla, Mixco and some areas in Guatem[...]
- request:
    method: get
    uri: https://api.reliefweb.int/v1/disasters?appname=givealittle&fields%5Bexclude%5D%5B0%5D=country&fields%5Binclude%5D%5B0%5D=primary_country&fields%5Binclude%5D%5B1%5D=primary_type&fields%5Binclude%5D%5B2%5D=description-html&limit=44&preset=latest&profile=list
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Content-Options:
 [...]
