<fieldset class='info'>
  <legend class='info-title'>
    <h2>info</h2>
  </legend>
  <dl class="users-info">

    <dt>Name:</dt>
    <dd><%= current_user.first_name %> <%= current_user.last_name %></dd>

    <dt>Email:</dt>
    <dd><%= current_user.email %></dd>

    <dt>OAuths:</dt>
    <dd>
      <% current_user.providers.each do |provider| %>
        <%= image_tag "#{provider}.png", class: "#{provider}-logo" %>
      <% end %>
    </dd>

  </dl>
</fieldset>
