<h1>Enter your information below</h1>
<h2>Or <%= link_to 'Continue with Twitter', twitter_login_path %></h2>
<h2>Or <%= link_to 'Continue with Google', google_login_path %></h2>

<%= render partial: 'form' %>
