<ul class="charities">
  <% @charities.each do |charity| %>
    <li class="charity-name">charity.name</li>
    <li class="rating">charity.rating</li>
    <li class="cause-img">charity.cause_img</li>
  <% end %>
</ul>
