.disaster-main
  padding: 0px 20px 20px 20px

.disaster-header
  display: flex

.disaster-header-right
  margin: auto
  margin-top: 40px

.description
  font-size: 20px
  p
    font-family: 'Muli', Sans-Serif

#small_map
  float: left
  height: 250px
  width: 400px
