fieldset
  margin: 10px
  width: fit-content
  border: solid #6D7275 thin
  border-radius: 12px
  .users-info
    dd, dt
      font-family: 'Muli', Serif

.filter-form
  padding: 8px

.limit
  margin: 0 10px

.type
  margin: 0 10px

#limit
  width: 45px
