*
  box-sizing: border-box
  font-family: 'Merriweather', Serif

body
  margin: 0
  padding: 0
  background-color: #E1ECF2

h1
  padding: 20px 20px 0px 20px
  font-family: 'Merriweather', Serif

h2
  padding: 20px 20px 0px 20px
  font-family: 'Muli', Serif
  a
    font-family: 'Muli', Serif

h3
  padding: 20px 20px 0px 20px
  font-family: 'Muli', Serif
