nav.navbar
  background-color: #DD0A06
  color: white
  border: solid black thin

  a
    color: white
    text-decoration: none

  a:active
    color: #6D7275

  .navbar-logo
    max-height: 65px
    margin-right: 10px

  .nav-title
    font-size: 46px
    margin-right: 20px

    a
      font-family: 'Merriweather', Serif

  .dropdown-menu
    background-color: #DD0A06
    border: solid black thin
