nav.navbar
  background-color: #DD0A06
  color: white
  border: solid black thin
  border-left: none
  border-right: none

  a
    color: white
    text-decoration: none

  a:active
    color: #6D7275

  .navbar-logo
    max-height: 65px
    margin-right: 10px

  .nav-title
    font-size: 46px
    margin-right: 20px
    a
      font-family: 'Merriweather', Serif

  .navbar-toggler
    border-color: black

  .dropdown-menu
    background-color: #DD0A06
    border: solid black thin

  .collapse
    .navbar-nav
      a
        color: white
        text-decoration: none

      a:hover
        color: white

      a:focus
        color: white

      a:active
        color: #6D7275

      .nav-item
        .dropdown-menu
          .dropdown-divider
            border-color: black
          .dropdown-item:hover
            background-color: #990704
