<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <%= link_to 'Log Out', logout_path, class: 'nav-link' %>
    </li>
  </ul>
</div>
